

.filter{
    min-width:210px;
    text-align: center;
    &_buttons{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;   
    }
}

.btn{
    background: #c5e09b;
    border-radius:5px;
    margin:10px 0px;
    &_hover{
        background: #7cb901;
    }
}