// @import "bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container{
  max-width: 1500px;
  min-height: 100vh;
  background: #f2f2f2;
}

.card{
  background: white;
  border-radius: 10px;
  width:100%;
  border:0px;
  padding:10px;
  margin:5px;
}

.fill { 
  min-height: 100%;
  height: 100%;
}

.btn:focus, .btn.focus{
  box-shadow:unset;
}